# use pip install -r requirements.txt
transformers
datasets
evaluate
accelerate
scikit-learn
flask
# accelerate -U
# This should be installed separately
# pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118